<!doctype html>
<html lang="zh">
<head>
    #parse("layout/common.htm")
    <meta name="baidu-tc-verification" content="38c36b623e56afea4be94d5575dca8ca"/>
    <meta charset="UTF-8">
    <title>$!title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="/static/images/favicon.ico" mce_href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/images/favicon.ico" mce_href="/static/images/favicon.ico"
          type="image/x-icon">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/tool.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/core.css">
    #set($randomNumber = $date.getSystemTime() % 3)
    #if($randomNumber == 0)
        <style>
            .side-header #header {
                background-image: url(${ctx}/static/images/header1.jpg);
            }
        </style>
    #elseif($randomNumber == 1)
        <style>
            .side-header #header {
                background-image: url(${ctx}/static/images/header2.jpg);
            }
        </style>
    #elseif($randomNumber == 2)
        <style>
            .side-header #header {
                background-image: url(${ctx}/static/images/header3.jpg);
            }
        </style>
    #end
    <!--<link rel="stylesheet" href="/static/css/codehilite_monokai.css">-->
    <!--<link rel="stylesheet" href="/static/css/codehilite_manni.css">-->
    <link rel="stylesheet" href="/static/css/codehilite_perldoc.css">
    <!--<link href="http://fonts.googleapis.com/css?family=Coda:800|Droid+Sans:r,b|Open+Sans:r,i,b,bi|Varela"-->
    <link rel="stylesheet" href="/static/css/article.css"/>
    <link rel="stylesheet" href="http://cdn.staticfile.org/animate.css/3.0.0/animate.min.css"/>
    <script type="text/javascript" id="seajsnode" src="http://cdn.staticfile.org/seajs/2.1.1/sea.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.staticfile.org/highlight.js/8.0/styles/monokai_sublime.min.css"/>
##    <link rel="stylesheet" href="http://cdn.staticfile.org/highlight.js/8.0/styles/github.min.css"/>
##    <link rel="stylesheet" href="http://cdn.staticfile.org/highlight.js/8.0/styles/default.min.css"/>
##    <link rel="stylesheet" href="http://cdn.staticfile.org/highlight.js/8.0/styles/atelier-dune.light.min.css"/>
</head>

<body>
<script>var baseUrl = "${baseurl}";</script>
<div id="wrapper" class="${headerSide}">
##
##    {% block header %}{% endblock %}
##
##    {% block content %}{% endblock %}
##
##    {% include "mainTem/footer.html" %}

###parse("layout/header.htm")
    $screen_content
    #parse("layout/footer.htm")
</div>
<script src="http://cdn.staticfile.org/highlight.js/8.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a4a715fb2c9ce069c04d65556b907e75";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>

</html>
