<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myblog.dao.UserDAO">

    <insert id="insertUser" parameterType="User" keyProperty="id">
             insert into blog_user(
         state,
         nickname)
         values
         (
         #{state},
         #{nickname})
         </insert>

</mapper>
