<div id="header" class="side-header left-header">
    <div class="inner-header">
        <a href="{% url index %}" id="logo">
            <h1>LifeSinger</h1>
            <img src="/static/images/logo.png" alt="lovejs">
        </a>

        <div class="about">
            <p>by nan</p>

            <p>front-end developer in thinkjoy</p>
        </div>
        <ul id="nav" class="nav vertical">
            {% for item in allCategory %}
            <li class="nav-item {% ifequal currentSlug item.slug %}current_page_item{% endifequal %}">
                <a href="{% url category item.slug %}">{{ item.name }}</a>
            </li>
            {% endfor %}
            </li>
            <!--<li class="nav-item"><a href="">音乐</a>-->
                <!--二级菜单-->
                <!--<ul class="sub-nav">-->
                <!--<li class="sub-item"><a href="{% url index %}">test1</a>-->
                <!--</li>-->
                <!--<li class="sub-item"><a href="{% url index %}">test2</a>-->
                <!--</li>-->
                <!--</ul>-->
            <!--</li>-->

        </ul>

    </div>

</div>