<div id="header" class="top-header">
    <div class="inner-header">
        <a href="{% url index %}" id="logo">
            <h1>LifeSinger</h1>
            <img src="/static/images/logo.png" alt="lovejs">
        </a>
        <ul id="nav" class="nav level">
            {% for item in allCategory %}
            <li class="nav-item {% ifequal currentSlug item.slug %}current_page_item{% endifequal %}">
                <a href="{% url category item.slug %}">{{ item.name }}</a>
            </li>
            {% endfor %}

        </ul>

    </div>

</div>